* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 14px;
  align-items: start;
  min-height: 100vh;
  background-color: #2b3035 !important;
}

/* Navbar Component Style */

.container-fluid {
  padding: 0px 13rem !important;
}
.navbar-brand {
  background: -webkit-linear-gradient(97deg, #ee2a65, #2ee0ce, #004aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-size: 3vh !important;
}
.nav-link a {
  text-decoration: none;
}
@media (max-width: 964px) {
  .container-fluid {
    padding: 0px 3rem !important;
  }
}
@media (max-width: 408px) {
  .container-fluid {
    padding: 0px 2rem !important;
  }
}
@media (max-width: 325px) {
  .container-fluid {
    padding: 0px 1rem !important;
  }
  .navbar-brand {
    font-size: 3vh !important;
  }
}

/* Carousel Component Style */

.carousel-inner {
  height: 500px;
}

.carousel-item {
  height: 500px;
  background-color: rgba(0, 0, 0, 0.4);
}
.carousel-item img {
  height: 500px;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-caption {
  position: absolute;
  left: 0px !important;
  padding-bottom: 12.25rem !important;
  text-align: center;
  bottom: 0px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-color: rgba(0, 0, 0, 0.4);
  height: 504px;
  width: 100%;
}
@media (min-width: 1200px) {
  .carousel-caption h3 {
    font-size: 3.75rem;
  }
  .carousel-caption p {
    font-size: 1.35rem;
  }
}

/* Home Page Style */

.homeContainer {
  width: 100%;
  background-color: rgb(147, 147, 147);
}

.homeContainer .allCards {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;
}
.homeContainer .allCards .heading_card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
}
.homeContainer .allCards .heading_card .blank {
  width: 305px;
}
.homeContainer .allCards .heading_card h1 {
  font-size: 40px;
  color: white;
}
.homeContainer .allCards .heading_card .search {
  width: 300px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid rgb(90, 90, 101);
  border-radius: 5px;
}
.homeContainer .allCards .heading_card input {
  width: 270px;
  height: 28px;
  border: none;
  outline: none;
  padding-left: 10px;
  font-size: 18px;
  background-color: transparent;
  color: rgb(243, 243, 243);
}
.homeContainer .allCards .heading_card svg {
  color: rgb(247, 247, 247);
}
.homeContainer .allCards .cards {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 50px 50px;
}
.homeContainer .allCards .cards a {
  text-decoration: none;
}
.homeContainer .allCards .cards .messageShow {
  margin-top: 100px;
  color: white;
  width: 100%;
  text-align: center;
}
.homeContainer .allCards .cards .messageShow .center {
  color: white;
  width: 100%;
  text-align: center;
}

.homeContainer .pagination {
  width: 20vw;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 40px 0px;
}
.homeContainer .pagination_right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homeContainer .pagination p {
  font-size: 17px;
  margin: 0px;
  color: rgb(239, 239, 239);
}
.homeContainer .pagination_right .pagination button {
  width: 2vw;
  height: 4vh;
  border-radius: 50%;
  background-image: linear-gradient(45deg, #00e5ff, #16a3ff, #000097ed);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  outline: none;
  border: none;
}
.homeContainer .pagination_right .pagination .active {
  background-image: linear-gradient(45deg, #ff003c, #ff16aa, #972800ed);
}

@media (max-width: 1592px) {
  .homeContainer .pagination {
    width: 24vw;
  }
}
@media (max-width: 1310px) {
  .homeContainer .pagination {
    width: 27vw;
  }
  .homeContainer .pagination_right .pagination button {
    width: 3vw;
    height: 4vh;
  }
}
@media (max-width: 990px) {
  .homeContainer .pagination {
    width: 35vw;
  }
  .homeContainer .pagination_right .pagination button {
    width: 4vw;
    height: 4vh;
  }
}
@media (max-width: 738px) {
  .homeContainer .pagination {
    width: 50vw;
  }
  .homeContainer .pagination_right .pagination button {
    width: 5vw;
    height: 4vh;
  }
}
@media (max-width: 534px) {
  .homeContainer .pagination {
    width: 60vw;
  }
  .homeContainer .pagination_right .pagination button {
    width: 5vw;
    height: 4vh;
  }
}
@media (max-width: 488px) {
  .homeContainer .pagination {
    width: 70vw;
  }
  .homeContainer .pagination_right .pagination button {
    width: 7vw;
    height: 4vh;
  }
}
@media (max-width: 390px) {
  .homeContainer .pagination {
    width: 79vw;
  }
  .homeContainer .pagination_right .pagination button {
    width: 9vw;
    height: 4vh;
  }
}
@media (max-width: 310px) {
  .homeContainer .pagination {
    width: 83vw;
  }
  .homeContainer .pagination_right .pagination button {
    width: 9vw;
    height: 4vh;
  }
}

@media (max-width: 904px) {
  .homeContainer .allCards .heading_card {
    height: 153px;
    flex-direction: column;
  }
  .homeContainer .allCards .heading_card .blank {
    display: none;
  }
  .homeContainer .allCards .heading_card .search {
    width: 380px;
  }
  .homeContainer .allCards .heading_card input {
    width: 350px;
  }
}
@media (max-width: 400px) {
  .homeContainer .allCards .cards {
    margin: 0px 0px;
  }
  .homeContainer .allCards .heading_card .search {
    width: 250px;
  }
  .homeContainer .allCards .heading_card input {
    width: 200px;
  }
}

/* Details Page Style */

.detailContainer {
  width: 100%;
  background-color: white;
}
.detailContainer .favoritePortion {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 96px;
}
.detailContainer .favoritePortion a {
  text-decoration: none;
}
.detailContainer .favoritePortion .btn {
  width: 150px;
  border: 2px solid rgb(196, 195, 195);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  color: white;
  border-radius: 10px;
  color: rgb(196, 195, 195);
}

.detailContainer .favoritePortion .btn h4 {
  font-size: 20px;
  margin: 0px;
  padding-left: 10px;
}
.detailContainer .favoritePortion .favoriteIcon {
  width: 200px;
  border: 2px solid rgb(196, 195, 195);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 45px;
  color: rgb(196, 195, 195);
  cursor: pointer;
  border-radius: 10px;
}
.detailContainer .favoritePortion .favoriteIcon h4 {
  font-size: 20px;
  margin: 0px;
}
.detailContainer .PostInformation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}
.detailContainer .PostInformation .CenterPart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.detailContainer .PostInformation .CenterPart h1 {
  color: rgb(15, 15, 15);
  font-size: 5vh;
}
.detailContainer .PostInformation .CenterPart p {
  color: rgb(180, 176, 176);
  font-size: 3vh;
}
.detailContainer .authorInformation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 475px;
  margin-left: 96px;
}
.detailContainer .authorInformation .left_authorInfo p {
  color: rgb(61, 61, 61);
  font-size: 2vh;
  margin-bottom: 4px;
}
.detailContainer .authorInformation .center_authorInfo p {
  color: rgb(180, 176, 176);
  margin-bottom: 11px;
}
.detailContainer .authorInformation .right_authorInfo p {
  color: rgb(95, 95, 95);
  font-size: 2vh;
  margin-bottom: 4px;
}

.detailContainer .postContent {
  width: 90%;
  display: flex;
  align-items: start;
  flex-direction: column;
  margin: auto;
  margin: 45px auto;
}
.detailContainer .postContent .content {
  width: 100%;
}
.detailContainer .postContent .content p {
  text-align: justify;
  color: rgb(163, 163, 163);
}
.detailContainer .postContent .socialIcons {
  width: 193px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 44px;
}
.detailContainer .postContent .socialIcons .icon:hover {
  font-size: 15px;
  cursor: pointer;
}

.detailContainer .allComments {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 45px;
  background-color: rgb(237 237 237);
}
.detailContainer .allComments .comments {
  padding-left: 90px;
  width: 100%;
}
.detailContainer .allComments .comments .unique_personComment {
  width: 95%;
}
.detailContainer .allComments .comments h1 {
  color: black;
}
.detailContainer .allComments .comments .personComment {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 5vh;
}
.detailContainer .allComments .comments .personComment:hover {
  background-color: #e4e4e4;
}
.detailContainer .allComments .comments .personComment .postPerson {
  display: flex;
  align-items: center;
  width: 301px;
}
.detailContainer .allComments .comments .personComment .postPerson img {
  width: 6vh;
  border-radius: 50%;
}
.detailContainer .allComments .comments .personComment .postPerson .postInfo {
  margin-left: 1vw;
  display: flex;
  flex-direction: column;
}
.detailContainer
  .allComments
  .comments
  .personComment
  .postPerson
  .postInfo
  h5 {
  color: black;
  font-size: 2vh;
}
.detailContainer .allComments .comments .personComment .postPerson .postInfo p {
  color: rgb(130, 129, 129);
  margin-bottom: 0px;
}
.detailContainer .allComments .comments .personComment .postComment {
  padding-top: 2vh;
  color: rgb(124, 124, 124);
  padding: 2vh 10px 0px 10px;
}
.detailContainer .allComments .comments .personComment .horizontalLine {
  height: 2px;
  border-bottom: 2px solid rgb(136, 133, 133);
  padding-top: 2vh;
}

@media (max-width: 600px) {
  .detailContainer .authorInformation {
    margin: auto;
    width: 306px;
  }
}
@media (max-width: 553px) {
  .detailContainer .favoritePortion {
    justify-content: center;
  }
  .detailContainer .favoritePortion a {
    display: none;
  }
  .detailContainer .allComments .comments {
    padding-left: 26px;
  }
}
@media (max-width: 434px) {
  .detailContainer .allComments .comments .personComment .postPerson img {
    width: 5vh;
  }
  .detailContainer .allComments .comments .personComment .postPerson .postInfo {
    margin-left: 3vw;
  }
}

/* Favorite Page Style */

.favoriteContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(187, 187, 187);
}
.favoriteContainer .favorite_box {
  width: 50%;
  margin-top: 10vh;
  padding-left: 4vw;
}
.favoriteContainer .favorite_box h1 {
  font-size: 4vh;
  color: #fffdfd;
}
.favoriteContainer .favorite_box .box {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5vh 0px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgb(124, 124, 124);
}
.favoriteContainer .favorite_box .box img {
  width: 17vw;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.favoriteContainer .favorite_box .box .author {
  width: 64vh;
  padding: 5px 10px;
}
.favoriteContainer .favorite_box .box .author h4 {
  font-size: 3vh;
  color: #101010;
}
.favoriteContainer .favorite_box .box .author p {
  font-size: 2vh;
  color: #ffffff;
}
.favoriteContainer .favorite_box .box .social_Icons {
  width: 193px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 44px;
  color: #ffffff;
}
.favoriteContainer .favorite_box .box .social_Icons .icon:hover {
  font-size: 15px;
  cursor: pointer;
}
.favoriteContainer .favorite_box .box .social_Icons .icon:hover {
  font-size: 15px;
  cursor: pointer;
  color: #818181;
}
.favoriteContainer .favorite_box .box .btn button {
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 10px;
  outline: none;
  color: red;
  border: 2px solid red;
  cursor: pointer;
  background-color: transparent;
}
.favoriteContainer .favorite_box .box .btn button:hover {
  box-shadow: 0px 0px 20px red;
}

.favoriteContainer .favorite_box .noDataFound {
  width: 100%;
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.favoriteContainer .favorite_box .noDataFound .center_noDataFound {
  width: 30vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.favoriteContainer .favorite_box .noDataFound .center_noDataFound h1 {
  font-size: 3vh;
}

@media (max-width: 1246px) {
  .favoriteContainer .favorite_box {
    width: 66%;
  }

  .favoriteContainer .favorite_box .box {
    width: 88%;
    justify-content: space-between;
  }
}

@media (max-width: 1312px) {
  .favoriteContainer .favorite_box {
    width: 73%;
  }
}
@media (max-width: 1022px) {
  .favoriteContainer .favorite_box {
    width: 98%;
  }
  .favoriteContainer .favorite_box .box img {
    width: 200px;
  }
  .favoriteContainer .favorite_box .box .btn button {
    width: 97px;
    height: 42px;
  }
}
@media (max-width: 600px) {
  .favoriteContainer .favorite_box {
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .favoriteContainer .favorite_box .box {
    width: 272px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 383px;
  }
  .favoriteContainer .favorite_box .box img {
    width: 272px;
  }
  .favoriteContainer .favorite_box .box .author {
    width: 100%;
    padding: 5px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 310px) {
  .favoriteContainer .favorite_box {
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .favoriteContainer .favorite_box .box {
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 383px;
  }
  .favoriteContainer .favorite_box .box img {
    width: 240px;
  }
  .favoriteContainer .favorite_box .box .author {
    width: 100%;
    padding: 5px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Card Component Style */

.card {
  position: relative;
  width: 315px;
  height: 450px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
  margin-top: 50px;
}
.card-header {
  position: relative;
  height: 220px;
  background-size: cover;
  background-position: top;
}
.card-header:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgb(5, 85, 134),
    rgba(181, 181, 181, 0.1)
  );
  right: 0px;
}

.card-header-bar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  border: none;
  overflow: hidden;
}
.btn-message {
  display: inline-block;
  background: url(https://res.cloudinary.com/dj14cmwoz/image/upload/v1491077483/profile-card/images/message.svg)
    no-repeat;
  width: 19.37px;
  height: 16.99px;
  margin-right: 29px;
  margin-top: 13px;
  float: right;
}
.btn-menu {
  display: inline-block;
  background: url(https://res.cloudinary.com/dj14cmwoz/image/upload/v1491077483/profile-card/images/menu.svg)
    no-repeat;
  width: 19px;
  height: 12.16px;
  margin-left: 10px;
  margin-top: 10px;
  float: left;
}

svg .polygon {
  fill: #fafeff;
}
.card-header-slanted-edge {
  position: absolute;
  bottom: -8px;
  z-index: 1;
  width: 100%;
  right: 0;
  left: 0;
}

.btn-follow {
  position: absolute;
  top: -15px;
  right: 25px;
  width: 45px;
  height: 45px;
  background: linear-gradient(to left, #2d77c1, #68fac2);
  border-radius: 100%;
  box-shadow: 0 10px 15px rgba(110, 221, 235, 0.53);
}

.btn-follow:after {
  content: "";
  position: absolute;
  background: url(https://res.cloudinary.com/dj14cmwoz/image/upload/v1491077480/profile-card/images/add.svg)
    no-repeat;
  width: 17px;
  height: 17px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card-body {
  text-align: center;
  padding-left: 10px;
  background-color: #fafeff;
}

.name {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
  color: rgb(202, 200, 200);
}

.job-title {
  font-size: 14px;
  font-weight: 300;
  margin-top: 5px;
  color: #919191;
}

.bio {
  font-size: 14px;
  color: #7b7b7b;
  font-weight: 300;
  margin: 21px auto;
  line-height: 20px;
}

.social-accounts img {
  width: 15px;
}

.social-accounts a {
  margin-left: 10px;
}
.social-accounts a:first-child {
  margin-left: 0;
}
.card .btn {
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}
.card .centerBtn {
  width: 259px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.card .centerBtn button {
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background: linear-gradient(to left, #2d77c1, #68fac2);
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0 5px 15px rgba(110, 221, 235, 0.53);
}

@media (max-width: 350px) {
  .card {
    width: 236px;
    height: 470px;
  }
  .card .btn {
    width: 236px;
    margin-top: 20px;
  }
  .card .centerBtn button {
    width: 90px;
    height: 35px;
  }
}

/* Footer Component Style */

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #fff;
  width: 83%;
  margin: auto;
  background-color: #2b3035;
}

.footer > * {
  flex: 1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 2.5rem;
  background: -webkit-linear-gradient(97deg, #ee2a65, #2ee0ce, #004aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 19px;
  font-weight: 400;
  color: white;
}

.nav__title {
  font-weight: 400;
  font-size: 19px;
  color: white;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}

.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #ff0000;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }

  .nav__item--extra {
    flex-grow: 2;
  }

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 2 0px;
  }
}
